.product {
 &__category {
  @apply absolute top-0 left-0;
  @apply md:flex md:relative;

  .logo {
   @apply bg-gray-300 px-4 py-2;
   @apply md:mr-8;
  }

  .categories {
   @apply flex flex-wrap gap-3 justify-between;
   @apply flex-nowrap;

   &__cat {
    @apply px-4 py-2 cursor-pointer;

    &:hover {
     @apply text-gray-400;
    }
   }
  }
 }

 &-list {
  @apply flex flex-wrap justify-evenly items-stretch gap-6 w-full;
  @apply md:gap-y-10;
  @apply lg:gap-14;

  .product {
   &__item {
    @apply w-full flex flex-col justify-center;
    @apply md:w-2/5;
    @apply lg:w-1/5;

    img {
     @apply max-h-48 object-contain w-full;
    }
   }

   &__image {
    @apply w-36 h-36 self-center flex justify-center;
    @apply lg:w-48 lg:h-48;
   }

   &__name {
    @apply text-gray-800 h-16 mt-4 relative text-sm font-bold self-center inline-block break-words overflow-hidden;
   }

   &__bottom-section {
    @apply flex justify-between text-xs;

    .price {
     @apply font-light;
    }

    .cta-btn {
     @apply py-1 px-2 bg-gray-300 rounded-3xl;
    }
   }
  }
 }
}
